.form {
    width: 80%;
    margin: 30px 10px;
    margin: auto;
}

:host::ng-deep {
    .mat-mdc-text-field-wrapper {
        .mat-mdc-form-field-infix {
            max-width: 360px;
            width: auto;
        }
    }
}
.btn-container {
    float: inline-end;
}