<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="title-center">Welcome to Resume Parser</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="content">
      <mat-card class="col-md-8">
        <mat-card-title>{{ cardTitle }}</mat-card-title>
        <mat-card-content>
          <mat-horizontal-stepper
            [linear]="isLinear"
            #stepper
            labelPosition="bottom"
          >
            <mat-step label="Upload Resume">
              <input
                type="file"
                (change)="onFileSelected($event)"
                accept=".pdf,.doc,.docx"
                formControlName="file"
                value=""
              />
            </mat-step>

            <mat-step label="Enter Job Description">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Job Description</mat-label>
                <textarea
                  matInput
                  formControlName="jobDescription"
                  rows="5"
                  cols="200"
                  value=""
                ></textarea>
              </mat-form-field>
            </mat-step>
          </mat-horizontal-stepper>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary" [disabled]="!myForm.valid">
            Submit
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </form>
  <mat-toolbar class="footer">
    Copyright © 2025 All rights reserved.
  </mat-toolbar>
</div>
